* {
    margin: 0px;
    padding: 0px;
  }
  body{
    background-color: var(--mainColor);
    min-height: 100vh;
  }
  /* navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--headerColor);
    color: var(--fontColor);
    height: 10%;
  }
  
  .navbar-logo img {
    width: 100px;
    height: 60px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links li a {
    color: var(--fontColor);
    font-weight: bolder;
    padding-left: 20px;
    text-decoration: none;
  }
  .navbar-links .selected{
    color: var(--footerColor);
  }
  .navbar-links li a:hover{
    color: var(--footerColor);
  }
  
  .navbar .list-group {
    display: none;
  }
  @media (max-width: 553px) {
    .navbar-links {
      display: none;
    }
  
    .navbar .list-group {
      display: block;
      cursor: pointer;
    }
  
    .navbar-links.active {
      display: block;
      background-color: var(--headerColor);
    }
  
    .list-group {
      width: 100px;
    }
  }
  
  .list-group label {
    display: block;
    color: var(--footerColor);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .list-group input[type="checkbox"] {
    display: none;
  }
  
  .list-group ul {
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: var(--footerColor);
    border: 1px solid var(--footerColor);
    border-radius: 5px;
  }
  
  .list-group ul li {
    padding: 10px;
    border-bottom: 1px solid var(--footerColor);
  }
  .list-group ul li a{
    text-decoration: none;
    color: var(--fontColor);
    font-weight: bold;
  }
  .list-group ul li a:hover{
    color: var(--footerColor);
  }
  .list-group input[type="checkbox"]:checked ~ ul {
    max-height: 200px; 
  }

 /* section */
  section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    
}
.form-container{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--headerColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--fontColor)50;
}

.form-container form{
   display: flex;
   flex-direction: column;
   gap: 20px;
   color: var(--footerColor);
}
.form-container img{
    width: 60%;
    height: 500px;

}
.form-container form input{
    background-color: var(--headerColor);
    border: none;
    box-shadow: 0 4px 8px #3b1c3250;
    border-radius: 8px;
    padding: 5px;
    min-width: 250px;
    height: 25px;
    color: var(--footerColor);
}   
.message-input{
    height: 50px;
}

.form-container button{
    width: 30%;
    padding: 5px;
    color: var(--footerColor);
    background-color: var(--headerColor);
    box-shadow: 0 4px 8px #3b1c3250;
    border: none;
    border-radius: 8px;
    margin: 10px;
}
.form-container button:hover{
    background-color: var(--footerColor);
    color: var(--headerColor);
}
@media (max-width: 1022px){
    .form-container{
        flex-direction: column;
        height: 100%;
        
    }
    .form-container img{
        margin: 0px;
        width: 100%;
        height: 500px;
    }
}


/* footer */
Footer{
  margin-top: 15px;
  background-color: var(--footerColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--fontColor);
  height: 27vh;
}
.footer-container{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo-img{
  width: 200px;
}

.links-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
.links-container .links a{
  text-decoration: none;
  color: var(--fontColor);
  font-weight: bold;
}
.links-container .links a:hover{
  color: var(--headerColor);
}
.fa-brands{
  font-size: 40px;
  padding: 5px;
  color: var(--fontColor);
}
.fa-brands:hover{
  color: var(--headerColor);
}
@media (max-width: 942px){
  .links-container{
    font-size: small;
  }
 
  footer .logo-img{
    width: 120px;
    padding: 10px;
  }
  footer{
    height: 30vh;
    font-size: small;
  }
  .fa-brands{
    font-size: 25px;
  }
  .footer-container{
    justify-content: space-between;
    width: 80%;
  }
}