* {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: var(--mainColor);
  min-height: 100vh;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--headerColor);
  color: var(--fontColor);
  height: 10%;
}

.navbar-logo img {
  width: 100px;
  height: 60px;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li a {
  color: var(--fontColor);
  font-weight: bolder;
  padding-left: 20px;
  text-decoration: none;
}
.navbar-links .selected{
  color: var(--footerColor);
}
.navbar-links li a:hover{
  color: var(--footerColor);
}

.navbar .list-group {
  display: none;
}
@media (max-width: 553px) {
  .navbar-links {
    display: none;
  }

  .navbar .list-group {
    display: block;
    cursor: pointer;
  }

  .navbar-links.active {
    display: block;
    background-color: #e5e0ff;
  }

  .list-group {
    width: 100px;
  }
}

.list-group label {
  display: block;
  color: var(--footerColor);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group ul {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  color: var(--footerColor);
  border: 1px solid var(--footerColor);
  border-radius: 5px;
}

.list-group ul li {
  padding: 10px;
  border-bottom: 1px solid var(--footerColor);
}
.list-group ul li a{
  text-decoration: none;
  color: var(--fontColor);
  font-weight: bold;
}
.list-group ul li a:hover{
  color: var(--footerColor);
}
.list-group input[type="checkbox"]:checked ~ ul {
  max-height: 200px; 
}


/* section */
main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero{
  display: flex;
  justify-content: center;
  max-width: 200rem;
  padding: 20px;
  height: 500px;
}
.hero .section-container{
  width: 80rem;
  border-radius: 4px;
  background-color: var(--headerColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hero-section-text{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
}
.hero-section-text h2{
  color: var(--footerColor);
  font-size: 40px;
}
.hero-section-text h4 , .section-container p{
  font-size: 25px;
}
.section-container img{
  max-width: 500px;
  border-radius: 4px;
  display: flex;
  flex-shrink: 1;
  /* flex-wrap: wrap; */
}
.section-container a{
  text-decoration: none;
  color: var(--footerColor);
  border: 2px solid var(--footerColor);
  font-size: 25px;
  width: 100px;
  padding: 10px;
  border-radius: 4px;
}
.section-container a:hover{
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  background-color: var(--footerColor);
}
@media (max-width: 553px){
  .section-container{
    display: flex;
    flex-direction: column-reverse;
  }
  .section-container img{
    max-width: 200px;
    border-radius:0px 0px 8px 8px;
  }
  .hero-section-text{
    gap: 10px;
  }
}

/* Cards */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.card {
  display: flex;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 120px;
  transition: transform 0.3s ease;
  margin: 10px;
}

.card:hover {
  transform: translateY(-5px); 
}

.card-image1 {
  border-radius: 8px 0px 0px 8px;
  width: 50%; 
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(images/Home/Screenshot\ 2024-12-20\ 164540.png);
}
.card-image2 {
  border-radius: 8px 0px 0px 8px;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(images/Home/Screenshot\ 2024-12-20\ 164608.png);
}
.card-image3 {
  border-radius: 8px 0px 0px 8px;
  width: 50%; 
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(images/Home/Screenshot\ 2024-12-20\ 164629.png);
}

.card-text {
  width: 60%; 
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.card-text a{
  color: var(--fontColor); 
  font-weight: bolder;
  text-decoration: none;
}
.card-text a:hover{
  color: var(--footerColor);
}
@media (max-width: 553px){
  .cards-container{
    flex-direction: column;
    align-items: center;
  }
}

/* footer */
Footer{
  margin-top: 15px;
  background-color: var(--footerColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--fontColor);
  height: 27vh;
}
.footer-container{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo-img{
  width: 200px;
}

.links-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
.links-container .links a{
  text-decoration: none;
  color: var(--fontColor);
  font-weight: bold;
}
.links-container .links a:hover{
  color: var(--headerColor);
}
.fa-brands{
  font-size: 40px;
  padding: 5px;
  color: var(--fontColor);
}
.fa-brands:hover{
  color: var(--headerColor);
}
@media (max-width: 942px){
  .links-container{
    font-size: small;
  }
 
  footer .logo-img{
    width: 120px;
    padding: 10px;
  }
  footer{
    height: 30vh;
    font-size: small;
  }
  .fa-brands{
    font-size: 25px;
  }
  .footer-container{
    justify-content: space-between;
    width: 80%;
  }
}