* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--mainColor);
  min-height: 100vh;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--headerColor);
  color: var(--fontColor);
  height: 10%;
}

.navbar-logo img {
  width: 100px;
  height: 60px;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li a {
  color: var(--fontColor);
  font-weight: bolder;
  padding-left: 20px;
  text-decoration: none;
}
.navbar-links .selected {
  color: var(--footerColor);
}
.navbar-links li a:hover {
  color: var(--footerColor);
}

.navbar .list-group {
  display: none;
}
@media (max-width: 553px) {
  .navbar-links {
    display: none;
  }

  .navbar .list-group {
    display: block;
    cursor: pointer;
  }

  .navbar-links.active {
    display: block;
    background-color: var(--headerColor);
  }

  .list-group {
    width: 100px;
  }
}

.list-group label {
  display: block;
  color: var(--footerColor);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group ul {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  color: var(--footerColor);
  border: 1px solid var(--footerColor);
  border-radius: 5px;
}

.list-group ul li {
  padding: 10px;
  border-bottom: 1px solid var(--footerColor);
}
.list-group ul li a {
  text-decoration: none;
  color: var(--fontColor);
  font-weight: bold;
}
.list-group ul li a:hover {
  color: var(--footerColor);
}
.list-group input[type="checkbox"]:checked ~ ul {
  max-height: 200px;
}

/* main */
.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 10px;
  gap: 20px;
}
.figmaTasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
  align-items: center;
}
.card {
  background-color: var(--mainColor);
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.img1 {
  background-image: url(images/projects/Screenshot\ 2024-12-22\ 091543.png);
  background-position: center;
  background-size: cover;
}
.img2 {
  background-image: url(images/projects/Screenshot\ 2024-12-22\ 093156.png);
  background-position: center;
  background-size: cover;
}
.img3 {
  background-image: url(images/projects/Screenshot\ 2024-12-22\ 093536.png);
  background-position: center;
  background-size: cover;
}
.img4 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGWkLDyRM63o3MhIWMUaqjiclMscW40NwdcA&s");
  background-position: center;
  background-size: cover;
}
.img5 {
  background-image: url(images/projects/Screenshot\ 2024-12-22\ 122122.png);
  background-position: center;
  background-size: cover;
}
.img6 {
  background-image: url(images/projects/Screenshot\ 2024-12-22\ 122330.png);
  background-position: center;
  background-size: cover;
}
.img7 {
  background-image: url(images/projects/Screenshot\ 2024-12-22\ 123208.png);
  background-position: center;
  background-size: cover;
}
.img9 {
  background-image: url(images/projects/Screenshot\ 2024-12-22\ 123441.png);
  background-position: center;
  background-size: cover;
}
.img10 {
  background-image: url(images/projects/Screenshot\ 2024-12-22\ 123513.png);
  background-position: center;
  background-size: cover;
}
.img11 {
  background-image: url(images/projects/Screenshot\ 2024-12-22\ 123553.png);
  background-position: center;
  background-size: cover;
}
.img12 {
  background-image: url(images/projects/Screenshot\ 2024-12-22\ 153731.png);
  background-position: center;
  background-size: cover;
}
.image-placeholder {
  height: 50%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.text-placeholder {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--fontColor);
}

.text-placeholder p {
  margin: 5px 0;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  background-color: var(--footerColor);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}
.buttons button a {
  text-decoration: none;
  color: var(--headerColor);
  font-weight: bold;
}
.buttons button:hover {
  background-color: #6072bb;
}

/* footer */
Footer {
  margin-top: 100px;
  background-color: var(--footerColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--fontColor);
  height: 27vh;
}
.footer-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo-img {
  width: 200px;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
.links-container .links a {
  text-decoration: none;
  color: var(--fontColor);
  font-weight: bold;
}
.links-container .links a:hover {
  color: var(--headerColor);
}
.fa-brands {
  font-size: 40px;
  padding: 5px;
  color: var(--fontColor);
}
.fa-brands:hover {
  color: var(--headerColor);
}
@media (max-width: 942px) {
  .links-container {
    font-size: small;
  }

  footer .logo-img {
    width: 120px;
    padding: 10px;
  }
  footer {
    height: 30vh;
    font-size: small;
  }
  .fa-brands {
    font-size: 25px;
  }
  .footer-container {
    justify-content: space-between;
    width: 80%;
  }
}
